<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TezBag Login</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/User-css/login-user.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <!-- top navbar -->
    <div id="top" class="container-fluid">
            <div class="left-content">
                <img width="16" height="13" src="/Map Pin.svg">
                <span class="location">Store Location: Mijus Store, Pavaratty-680507, Kerala, India</span>
            </div>
            <div class="right-content">
                <span id="lang" class="location">ENG</span>
                <span id="country" class="location">IND</span>
            </div>
    </div>
    <div id="middle" class="container-fluid">       
        <div class="logo">
            <img width="150" src="/Logo.png" alt="Logo">
        </div>   
        <hr style="border: 1px solid rgb(156, 154, 154); width: 100%;">
    </div>