/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.login-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.login-title {
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.password-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-me {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.remember-me label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
}

.forgot-password-container {
    flex-shrink: 0; /* Prevents resizing */
}

.forgot-password {
    text-decoration: none;
    color: #00B207;
    font-weight: 500;
}

.forgot-password:hover {
    text-decoration: underline;
}


.login-btn {
    width: 100%;
    background: #00B207;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-btn:hover {
    background: #008C04;
}

.google-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: white;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s;
}

.google-signin img {
    width: 20px;
    height: 20px;
}

.google-signin:hover {
    background: #f1f1f1;
}


.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #00B207;
    font-weight: bold;
    text-decoration: none;
}
