<!-- header -->
<%-include("../../views/Partials/user/header-simple")%>
<link rel="stylesheet" href="/User-css/forgetPass.css">

<!-- forgetPass -->
<div class="forget-password-container">
    <div class="forget-password-box">
        <h2 class="forget-title">Forget Password</h2>
        <form>
            <input type="email" class="form-control" placeholder="Email" required>
            <button type="submit" class="continue-btn">Continue</button>
        </form>
    </div>
</div>


<!-- footer -->
<%-include("../../views/Partials/user/footer")%>
