/* Hide browser default password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-clear-button {
    display: none !important;
    appearance: none;
}


/*================================
   Login Page - Admin
==================================*/

/* === Container === */
.login-container {
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  /* === Login Box === */
  .login-box {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
  }
  
  /* === Title === */
  .login-title {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  /* === Form Group === */
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* === Password Eye Icon === */
  .password-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* === Remember Me === */
  .remember-me {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .remember-me label {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #333;
  }
  
  /* === Login Button === */
  .login-btn {
    width: 100%;
    background: #00B207;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .login-btn:hover {
    background: #008C04;
  }


  .errr-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 5px;
    padding-left: 2px;
    font-weight: 500;
    display: none; /* you can toggle this with JS */
    text-align: left;
  }



  .server-error-message {
    background-color: #ffe5e5;
    color: #d10000;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
  }